<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Awards</h2>
    <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Dean’s List; all five years
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Recipient of multiple academic and Coop scholarships</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Awarded Best Analysis as one of the top students in his UPEI Engineering Design class of 60 students</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> 2014: Led group that won Best Design at UPEI Engineering Expo</p>

</section><!--//section-->