 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Bachelor of Science in Software Engineering</h4>
    <h5 class="meta">University of New Brunswick</h5>
    <div class="time">2014 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Engineering Program</h4>
    <h5 class="meta">University of Prince Edward Island</h5>
    <div class="time">2013 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor of Science in Biology</h4>
    <h5 class="meta">University of Prince Edward Island</h5>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
</div><!--//education-container-->