<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer - Coop</h3>
                            <div class="time">Summer 2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Accreon</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Only full-time developer working on Full Pint’s On The Floor full-stack application</p>
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Lead mobile developer and responsible for releasing the mobile app to both Android and Apple stores</p> 
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Expanded the functionality of the On The Floor mobile app with the addition of push notifications, new screens, and created the mobile release process and documentation</p>
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Reengineered the Rest API in Node.js and then rebuilt it in Java</p>
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Developed two native mobile app prototypes on Android and IOS; demoed to the CEO of Manion Wilkins</p>
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Built a soccer scheduling Android app prototype</p>
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Performed explorative testing on a hybrid mobile application</p>
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Helped teach a lunch-and-learn on micro-services using Docker</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sandwich Artist</h3>
                            <div class="time">Summer 2011 – 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Subway</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Formally asked to manage a Subway in Borden-Carleton, PEI</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->