<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Extracurricular</h2>
    <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> 2016-17: IT Commissioner for the Atlantic Council of Engineering Students</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Attended Canadian Federation of Engineering Students Congress 2015 - Winnipeg and Congress 2016 – Calgary</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> 2015-17: Volunteer for Engineers Without Borders</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> 2015-16: Sales Director for Engineering Undergraduate Society</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> VP Academic for Electrical, Computer, and Software Engineering Society</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Team won UNB qualifier to attend Atlantic Engineering Competition</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Helped participant in Breakthru to build a business plan and the concept of an application</p> 
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Participated in programming club, flag football, and ultimate Frisbee</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Participates in sports; making the high school football all-star team each year from 2008-2010</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Informally taught a class of struggling students C programming</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Tutors various students in Math and Computer programming</p>
	<p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Organized and led a youth group in games and activities</p>

</section><!--//section-->