<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Technical Experience</h2>
    <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Senior Design [Group] (2016-17). Working with Full Pint to design two new features: Employee Clock-in and Messaging. Java, Native Android, Oracle, Git</p>
    <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> MarkUs [Open Source] (2016-17). Standardizing the UI and various other tasks. Ruby on Rails, Oracle, Git</p>
    <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Fantasy Football [Individual] (2015-16). Web platform for Fantasy Football. PHP, MySQL</p>
    <p><i class="fa fa-{{site.bullet}}" aria-hidden="true"></i> Poker, TV Watch List, Finite State Machine GUI, Sudoku Solver, Hanoi Towers Solver [Individual] (2013-15). Other personal projects. Java, PHP, MySQL. TV Watch List: <a href="http://simmons.byethost6.com/index.php">simmons.byethost6.com/index.php</a></p>
</section><!--//section-->